<br>
<h1>Notre histoire</h1>
<br>
<div class="row">
  <div class="col-5">
    <img src="..\..\assets\images\eleve.jpg" alt="objectif" width="80%" >

  </div>
<div class="col-7">
<h2>Qu'est-ce que Djida</h2>
<p>Djida modou ou Guida est un village a situé au sud du sénégal à la frontière avec la gambie</p>
<p>Notre association a été créé en 2018 par la diaspora issu de ce village suite à la dégradation des conditions de vie sur place.En effet avec les changements climatique récent de nombreux puits se sont retouver asséchés. Ces problèmes d'eau vennant s'ajouter à des problèmes déjà existant de pauvreté de malutriton d'une partie de la population. </p>
<p>En 2019 l'Assoctation Djida décide de s'engagé pour l'education des jeune de Djida modou avec le construction d'une école(la madrassa de Djida modou)</p>
<div class="col">
<h2>Nos objectifs</h2>
<ol>
<li>
  Amélioré les conditon de vie à Djida et dans les villages au alentour.
</li>
<li>
Permettre l'education des enfants.
</li>
<li>
  Permettre le développement économique de Djida et sa région.
</li>
<li>
  développer une agriculture plus durable.
</li>
</ol>
</div>
<div class="col">
<img src="..\..\assets\images\objectif.png" alt="objectif" width="100%">
</div>
</div>
</div>
