<div *ngFor="let moi of user">
 <h5> <p>Bonjour {{moi['nom']}} {{moi['prenom']}}</p></h5>
  <a routerLink="/admin/modifier/adherent/{{moi.email}}" type="button" class="btn btn-outline-warning">mettre à jour mes information personnel</a>

  <div *ngIf="fin_cot<=today">
      <a routerLink="../cagnottes/1" class="btn btn-outline-danger">regler ma cotisation</a>
    <app-single-cagnotte CurrentCagnotte="cotisation"></app-single-cagnotte>

  </div>
</div>
  <div *ngIf="fin_cot>=today">
Votre cotisation est à jour
<a  routerLink="/cagnottes" class="btn btn-outline-success">Faire un don</a>
  </div>
  <div class="btn-group"*ngIf="isadmin =='1'">
  <a routerLink="/admin/add/article" class="btn btn-success">créer un nouvel article</a>
  <a routerLink="/admin/add/cagnotte" class="btn btn-success">créer une nouvelle cagnotte</a>
  <a routerLink="/admin/adherent/list" class="btn btn-success">liste des adhérents</a>

</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="container">
      <div *ngIf="loggedUser!=null">
        <div class="row" *ngFor="let cagnotte of cotisations">
          <div *ngIf="cagnotte.statut==1 && cagnotte.categorie=='cotisation'">
            <div  class="col">
              <div class="card ">
                <H4 style="color: rgb(2, 26, 105);">cotisation Adhérents</H4>
                <a *ngIf="cagnotte.image!= null" routerLink="../cagnottes/{{cagnotte.id_cagnotte}}"><img src= "\assets\images\upload\{{cagnotte.image}}" class="rounded mx-auto d-block"   [alt]="cagnotte.nom_cagnotte"style="width: 30%;"></a>
                <a *ngIf="cagnotte.image == null" routerLink="../cagnottes/{{cagnotte.id_cagnotte}}"><img src= "\assets\images\DJIDA.png" class="rounded mx-auto d-block"   [alt]="cagnotte.nom_cagnotte"style="width: 30%"></a>
                <div class="card-body">
                  <h5 class="card-title" style="color: rgb(2, 26, 105);">{{cagnotte.nom_cagnotte}}</h5>
                  <p class="card-text">{{cagnotte.description.substr(0,200) }}</p>
                  <a routerLink="../cagnottes/{{cagnotte.id_cagnotte}}" class="btn btn-outline-success">en savoir plus</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
